.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid #1677ff;
  padding: 0.5em;
  border-radius: 1em;
  width: calc(30vw + 15em);
}

p {
  font-size: 0.9em;
  word-break: break-all;
}

.task_change-input {
  padding: 0.5em;
  width: 15em;
  font-size: 0.7em;
  width: calc(10vw + 15em);
  border: 1px solid royalblue;
  border-radius: 0.3em;
  padding: 0.5em;
  font-size: 0.7em;
}

.task-header {
  background: none;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  max-width: 70%;
  overflow: hidden;
}

.task-header-is-done {
  text-decoration: line-through;
}

.task-buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  background: none;
  gap: 10px;
}

.checkbox {
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .task {
    flex-direction: column;
    gap: 10px;
  }

  .task_change-input {
    width: 100%;
  }

  .task-header {
    max-width: 90%;
  }

  .task-buttons {

    justify-content: start;
  }

}
