.task-sort {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.task-sort_button {
  background-color: white;
  color: black;
}

.task-sort_button-active {
  background-color: royalblue;
  color: white;
}

.task-sort button:hover {
  background-color: royalblue;
  color: white;
}
