.app-layout {
  display: flex;
  width: 100vw;
  background: none;
  height: 100%;
}

.app-menu_layout {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: none;
  z-index: 1;
}

.app-menu {
  height: 100%;
}

.app-content {
  background: none;
  max-width: 100vw;
}


header,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  gap: 20px;
}

.header {
  background: none;
  color: royalblue;
  margin: 0;
  padding-top: 20px;
}

.mobile_menu-button {
  display: none;
}

@media (max-width: 768px) {
  header {
    align-items: start;
    padding-left: 5% !important;
    padding-right: 5% !important;
    padding-bottom: 10px !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & button {
      margin: 0 !important;
    }
  }

  .mobile_menu-button {
    display: block;
  }

  header .app-menu_layout {
    height: auto;
    top: 74px;
    width: 100%;
    visibility: hidden;
  }

  .mobile_menu-visible {
    visibility: visible ! important;
  }
}
