html {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  min-width: 100vw;
}

* {
  margin: 0;
  padding: 0;
}


*|* {
  font-family: "Zalando Sans";
}
