html {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: calc(16px + 0.3vw);
  width: 100vw;
}

*|* {
  font-family: "Zalando Sans";
}
